/* Links */
a,
a:focus,
a:hover {
  color: red;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333333;
}
body {
  color: #fff;
  text-align: left;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
input {
  color: black;
}
.container {
  padding-left: 25px;
  padding-right: 25px;
}
.well {
  color: #333333;
  margin-top: 20px;
}