/* Links */
a,
a:focus,
a:hover {
  color: red;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333333;
}
body {
  color: #fff;
  text-align: left;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
input {
  color: black;
}
.container {
  padding-left: 25px;
  padding-right: 25px;
}
object {
  height: 84px;
}
.gradient {
  background-color: red;
  background-image:
    linear-gradient(
      to right, 
      red, #f06d06
    );
}